version: "3.8"

services:
  db:
    image: mysql:8
    container_name: auth_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: auth_db
    ports:
      - "3306:3306"

  auth-service:
    build: ./auth-service
    container_name: auth_service
    environment:
      JWT_SECRET: supersecret
    depends_on:
      - db

  api-gateway:
    build: ./api-gateway
    container_name: api_gateway
    ports:
      - "3000:3000"
    depends_on:
      - auth-service
